<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h3 style="margin: 10px 50px auto;">Vice Versa</h3>
<!--<form action="reverse"> один из способов отправки на страницу-->
<form action="{% url 'reverse' %}"> <!--один из способов отправки на страницу-->
    <textarea cols="50" rows="10" name="usertext" style="margin: 10px 25px auto;">

    </textarea>
    <p><input style="margin: 10px 25px auto;" type="submit" value="Reverse!"></p>
</form>

</body>
</html>